<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SlickTicket.EmailParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="EmailParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EmailParser.Properties.Settings.SqlConnectionTickets"
            connectionString="Data Source=TAGVW8SD001; Initial Catalog=TicketCenter; Persist Security Info=false; User ID=TicketCenter_User; Password=::1localhost" />
    </connectionStrings>
    <applicationSettings>
        <SlickTicket.EmailParser.Properties.Settings>
            <setting name="AttachmentFolder" serializeAs="String">
                <value>C:/Temp/MailAttachments/</value>
            </setting>
            <setting name="Pop3Intervall" serializeAs="String">
                <value>300000</value>
            </setting>
        </SlickTicket.EmailParser.Properties.Settings>
        <EmailParser.Properties.Settings>
            <setting name="AttachmentFolder" serializeAs="String">
                <value>C:/Temp/MailAttachments/</value>
            </setting>
            <setting name="Pop3Intervall" serializeAs="String">
                <value>300000</value>
            </setting>
        </EmailParser.Properties.Settings>
    </applicationSettings>
</configuration>